@import '../../styles/Variable.scss';

.cavContainer {
  position: relative;
  z-index: 0;
  height: 100vh;
}

.cavWrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cavContent {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #2e2e2e;
}

.cavBold {
  font-weight: 700;
}

.cavImgContainer {
  width: 265px;
  height: 265px;
  background-color: grey;
}

.cavPhoto {
  height: 100%;
  width: 265px;
  object-fit: cover;
  filter: grayscale(100%);
}

@media (max-width: 1200px) {
  .cavWrapper {
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .cavWrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .cavImgContainer {
    margin-bottom: 30px;
  }
  .cavContent {
    color: $black-color;
    margin: 0 30px;
    display: flex;
    align-items: center;
    font-size: 35px;
    text-align: center;
  }
  .cavText {
    word-break: keep-all;
  }
}

@import "../../styles/Variable";
