// .skillContainer {
//   height: 100vh;
// }

.skillWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skillContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.skillAbout {
  display: flex;
}

.skillAnimation {
  position: relative;
}

.skillTitle {
  font-size: 45px;
  padding-bottom: 20px;
  font-weight: 700;
}

@mixin anime-default {
  background: linear-gradient(
    to right,
    rgb(56, 56, 56) 50%,
    rgb(226, 226, 226) 50%
  );
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.skillTitle1 {
  @include anime-default;
}

.skillTitle2,
.skillTitle3,
.skillTitle4 {
  margin-top: 40px;
  @include anime-default;
}

.skillImgWrapper {
  display: flex;
  align-items: center;
}

.skillPartition {
  display: flex;
}

.skillMobilePartition {
  display: flex;
}

.skillImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skillText {
  display: flex;
  width: 100px;
  word-break: normal;
  padding-top: 10px;
  justify-content: center;
  text-align: center;
}

.skillImgHeight {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 10px;
  img {
    position: unset !important;
    height: auto !important;
  }
}

.skillImgWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 1200px) {
  .skillWrapper {
    margin: auto;
    padding: 0 30px;
  }
}

@media (max-width: 850px) {
  .skillTitle {
    font-size: 37px;
  }
  .skillPartition {
    justify-content: center;
    flex-direction: column;
  }
  .skillAbout {
    display: flex;
    justify-content: center;
  }
  .skillAnimation {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 412px) {
  .skillTitle {
    font-size: 30px;
  }
}
